@media screen and (max-width: 800px) {
    .section3 article {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section3 article .img {
        margin-bottom: 15px;
    }

    .section3 article .text .name {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}